<div class="loader-modal" [ngClass]="{ 'show': loader }" role="status" aria-live="polite">
  <div class="loader-inner">
    <div class="spinner-border" aria-hidden="true">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="container">

  <div class="card">
    <div class="card-header">
      <h1 class="no-und m-0"><span class="color-secondary">Advent</span> Person Search</h1>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSearch()" class="row">

        <div class="col-4" id="form_termInput">
          <div class="form-floating mb-1">
            <input [(ngModel)]="searchParams.term" (keyup.enter)="onSearch()" class="form-control" name="term" title="Term" placeholder="Search Term" id="searchTerm" type="text"
              aria-label="Search Name" aria-labelledby="searchTermLabel">
            <label class="form-label" for="searchTerm" id="searchTermLabel">Search Name</label>
          </div>
          <div class="small mb-2 fade">Please Enter a Name</div>
        </div>

        <div class="col-4" id="form_colorSelect">
          <div class="form-floating mb-1">
            <select [(ngModel)]="searchParams.color" class="form-control" title="Color" id="searchColor" type="select" aria-labelledby="searchColorLabel" aria-label="Select a Color" name="color"
              required>
              <option selected value="">Select a Color</option>
              <option value="blue">Blue</option>
              <option value="red">Red</option>
              <option value="green">Green</option>
            </select>
            <label class="form-label" for="searchColor" id="searchColorLabel">Select a Color</label>
          </div>
          <div class="small fade mb-2">Please Select a Color</div>
        </div>

        <div class="col-4">
          <button type="submit" class="btn btn-xlg col-12 btn-primary">Search</button>
        </div>

      </form>

      <hr />

      <div class="row">
        <div class="col-12">
          <h2 class="mt-1">Search Results</h2>
        </div>

        <div class="col-12">
          <div *ngIf="error">
            <h3>Opps!</h3>
            <p>Something went wrong! Please try again or contact your system administrator</p>
            <div *ngIf="shared.verboseErrorLogging">
              <pre>{{ error | json }}</pre>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div *ngIf="(results$ | async) as results">
            <ul *ngIf="results.length > 0; else noResults" class="row g-3">
              <li *ngFor="let item of results" class="col-3 text-center">
                <a [routerLink]="['/details', item.id]">{{ item.name }}</a>
              </li>
            </ul>
          </div>

          <ng-template #noResults>
            <div class="col-12 text-center">
              <div *ngIf="searchTrigger && !loader && !error">
                <p><strong>No results found.</strong></p>
                <p>Try adjusting your search terms or filters and try again.</p>
              </div>
            </div>
          </ng-template>

        </div>
      </div>
    </div>

    <div class="card-footer"></div>
  </div>
</div>