<p>
  Implement search in this component
</p>
<p>
  Implement details in the <a [routerLink]="['/details/123']">details component</a>
</p>
<input [(ngModel)]="searchParams.term" placeholder="Search term">

<select [(ngModel)]="searchParams.color">
  <option value="" disabled selected>Select a color</option>
  <option value="blue">Blue</option>
  <option value="red">Red</option>
  <option value="green">Green</option>
</select>

<button (click)="onSearch()">Search</button>

<div *ngIf="results === null">
  <p>Search for people</p>
</div>

<div *ngIf="results.length > 0">
  <h2>Search Results:</h2>
  <ul>
    <li id="{{ item.id }}" *ngFor="let item of results">{{ item.name }}</li>
  </ul>
</div>

<div *ngIf="results && results.length === 0">
  <p>No results yet. Try a search!</p>
</div>